	/* Main Page Formatting/ Styling */
* { box-sizing: border-box;}

body { background-color: #ededcf;
       color: #555555;
	   font-family: Arial, Helvetica, sans-serif;
	   margin-top: 0;
	   }
	   
	   main { background-color: #FFFFFF;
	   padding: 1px 20px 20px 30px;
	   display: block;
	   overflow: auto;
	   
}


	/* Headers and Headings */
header { 
		 background-color: #F0F8FF;
		 color: #FFFFFF; 
		 text-align: center;
}

h1 { font-family: Roboto;
	letter-spacing: 0.05em;
	background-color: #024D36;
     color: #FFFFFF; 
	 margin-top: 0;
	 margin-bottom: 0;
	 padding-top: 0;
	 padding-bottom: 0;
	 
}

header a { text-decoration: none;}
header a:link {color: #FFFFFF;}
header a:visited {color: #FFFFFF;}
header a:hover {color: #90C7E3;}
	 
h2 { color: #026b1c;
	 font-family: Georgia, "Times New Roman", serif;
}

h3 {font-family: Georgia, "Times New Roman", serif;
	color: #3C565B;
}







/* Main Main Slide Show */






img{
	width: 100%;
}










	/* Navigation */
nav { font-size: 100%;
	  font-weight: bold;
	  background-color: #0a6749;
	  padding: 0;
	  text-align: center;
	  
	  }
	    
nav a { text-decoration: none;}

nav {  
		font-family: Roboto;
		font-size: 1em;
		background-color: #054632; 
		color: #A9A9A9;
		letter-spacing: 0.1em;
		padding-right: 2em;
		position: relative; 
} 

nav ul { list-style-type: none; 
        margin: 0;
}

nav li { padding: 0.5em;
	font-size: 1em;
      display: inline-block;
}





nav ul ul { position: absolute;
	background-color: #054632;
	padding: 0;
	display: none; }
	
	
nav ul ul li { border: 1px solid #8FBC8F;
 display: block;
 width: 15em;
 padding-left: 1em;
 margin-left: 0;
	font-size: 1em;}
nav li:hover ul { display: block; }











nav a { text-decoration: none; 
       display: block;
}
nav a:link { color: #FFFFFF; }
nav a:visited { color: #EAEAEA; }
nav a:hover {  color: #D3DBEB;}
nav li:hover ul { display: block; }


/* List Styling */
	
ul li { font-size: 1.25em;
		text-align: left;
		list-style-position: inside;
		color: #000000;
		}	
	
ol li { font-size: 1.25em;
list-style-image: url(icon.png);
	color: #000000;}
	
	



/* Footer */
	
footer { background-color: #024D36;
		 color: #FFFFFF;
		 font-size: 75%;
		 font-style: italic; 
		 text-align: center;
		 font-family: Georgia, "Times New Roman", serif;
		 padding: 2em;
		 border-left: solid 3px #FCD006;
		 border-right: solid 3px #FCD006;
		 border-bottom: solid 3px #FCD006;
		 border-radius: 0px 0px 30px 30px;
		 }




dt { color: #002171; }


.jerry {
	width: 30%;
	height: 30%;
	margin: auto;
	box-shadow: 10px 10px 10px 10px rgba(0, 0, 0, 0.2);
}

h2.center {
	text-align: center;
}







.container {
  position: relative;
  text-align: center;
  color: white;
  font-family: roboto;
  font-size: 100px;
}

.centered {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

/*Photo Styling on index.html*/

.comp { width: 100%;
		height: 750px;
		object-fit: cover;
		filter: blur(10px);
	  }

/* Styling for expand/collapse cards on Majors page */

	.accordion {
		width: 90%;
		max-width: 1000px;
		margin: 2rem auto;
	}
	
	.accordion-item {
		background-color: #ffffff;
		color: #000000;
		margin: 1rem 0;
		border-radius: 0.5rem;
		box-shadow: 0 2px 5px 0 rgba(0,0,0,0.25);

	}

	.accordion-item-header {
		padding: 0.5rem 3rem 0.5rem 1rem;
		min-height: 3.5rem;
		line-height: 1.25rem;
		background-color: #054632;
		color: #ffffff;
		font-weight: bold;
		display: flex;
		align-items: center;
		position: relative;
		cursor: pointer;
	}

	.accordion-item-header::after {
		content: "\02C5";
		font-size: .75rem;
		position: absolute;
		right: 1rem;
	}

	.accordion-item-header.active::after {
		content: "\02C4";
	}

	.accordion-item-body {
		max-height: 0;
		overflow: hidden;
		transition: max-height 0.2s ease-out;
	}

	.accordion-item-body-content {
		font-family: Avenir;
		font-size: 20px;
		padding: 2rem;
		line-height: 1.5rem;
		border-top: 2.25px solid #024D36;
	}

	.accordion-item-header.active + .accordion-item-body {
		max-height: 3000px;
	}






	/* Button Styling for Majors Page */

	button {
		font-family: Frutiger;
		font-weight: bold;
		background-color: #024D36; 
		box-shadow: 0 2px 2px 0 rgba(0,0,0,0.25);
		border: none;
		color: white;
		padding: 7px 7px;
		text-align: center;
		display: block;
		font-size: 15px;
		border-radius: 5px;
		float: right;
		cursor: pointer;
		margin-right: 2px;
		margin-top: 10px;
		margin-bottom: 10px;

		height: auto;
		width: 100%;
	  }

	








	  /*Table Styling*/
	  table {
		border-collapse: collapse;
		border: 1px solid;
		width: 100%;
		table-layout: fixed;
		text-align: center;
		box-shadow: 0 1px 1px 0 rgba(0,0,0,0.50);
	  }

	  th, td { 
		padding: 0.25em;
		border: 1px solid;

	  }



	  .center {
		margin-left: auto;
		margin-right: auto;
	  }

	  
tbody tr:nth-child(odd) {
	background-color: #ffffff;
  }
  
  tbody tr:nth-child(even) {
	background-color: #b3b3b3;
  }
  






p { font-family: helvetica;
	color: #000000;
	font-size: 25px;}
	



/* Contact Card Styling */

form { display: flex;
	   flex-direction: column;
	   flex-wrap: no-wrap;
	 }
	 
input { margin-bottom: .5em;
		width: 1000px;
		height: auto;
		border-radius: 5px 5px 5px 5px;
		box-shadow: 0 2px 2px 0 rgba(0,0,0,0.25);}
textarea{ margin-bottom: .5em;}

label {
	color: #000000;
	width: auto;
	height: auto;
}





@media (min-width: 600px) {
	nav ul { display: flex; 
	flex-flow: row nowrap;
	justify-content: space-around;
	}
	
	nav li { border-bottom: none;
	}
	
	section { margin-left: 2em;
			  margin-right: 2em;
			  flex: 1;
	}
	
	#flow { display: flex;
			flex-direction: row;
			}
			
	form { width: 60%;
			max-width: 30em;
			display: grid;
			gap: 1em;
			grid-template-rows: auto;
			grid-template-columns: 6em 1fr;
}

input[type="submit"] { grid-column: 2 / 3;
						width: 9em;
}
}


		
		

	
	